/* components/AboutMe.module.css */
.aboutMe {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Padding around the section */
    background-color: white;
  }
  
  .title {
    margin-top: 10px;
    font-size: 1.7rem; /* Title font size */
    margin-bottom: 20px; /* Space below title */
    font-family: 'Rockwell', serif; /* Use Rockwell font */
    font-weight: bold; /* Make text bold */
    color: #6E6E6E;
  }
  
  .content {
    display: flex; /* Use flexbox for content layout */
    justify-content: space-between; /* Space out text and image */
    width: 100%; /* Full width */
  }
  
  .textContainer {
    flex: 1; /* Allow text container to grow */
    margin-right: 20px; /* Space between text and image */
    color: #6E6E6E;
    align-items: center;
    margin-left: -40px;
    font-family: 'Rockwell', serif; /* Use Rockwell font */
    font-weight: bold; /* Make text bold */
    font-size: .8rem;
  }

  .imageContainer {
    flex: 1; /* Allow image container to grow */
    display: flex; /* Use flexbox for image and icons */
    flex-direction: column; /* Stack image and icons vertically */
    align-items: flex-start; /* Align items to the left */
    
  }
  
  .profileImage {
    border-radius: 15px; /* Rounded corners for the profile image */
    max-width: 75px; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1px;
    border-color: black;
    margin-left: 30px;
  }
  
  .socialIcons {
    display: flex; /* Use flexbox for icon layout */
    justify-content: center; /* Center icons horizontally */
    margin-top: 10px; /* Space above icons */
    margin-left: 30px;
  }
  
  .socialIcons a {
    margin: 0 3px; /* Space between icons */
  }
  