/* components/ContentRectangle.module.css */
.rectangle {
  width: 100%; /* Full width of the parent */
  max-width: 290px; /* Set a maximum width */
  height: auto; /* Allow height to adjust based on content */
  background-color: #6E6E6E; /* Background color */
  padding: 20px; /* Padding inside the rectangle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  overflow-y: auto; /* Allow vertical scrolling */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
}
.innerContainer {
  flex: 1; /* Take remaining space */
  display: flex; /* Use flexbox for inner rectangles */
  flex-direction: column; /* Stack rectangles vertically */
  justify-content: space-between; /* Space them evenly */
}
.smallRectangle {
  background-color: #e0e0e0; /* Color of the small rectangles */
  flex: 2; /* Allow rectangles to grow equally */
  margin-bottom: 10px; /* Space between rectangles */
  display: flex; /* Center text inside */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  border: 1px solid #ccc; /* Optional border */
  min-height: 80px; /* Set a minimum height for small rectangles */
}
.footerText {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 10px; /* Font size for footer text */
  font-weight: bold;
  color: white;
  
}

.techList {
  text-align: center;
}

.githubLink {

  margin-left: 5px; /* Space between text and icon */
  display: inline-flex; /* Ensure the link behaves like an inline element */
  align-items: center; /* Center the icon vertically */
}

  