/* components/Hero.module.css */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Full viewport height */
  background-color: #6E6E6E; /* Background color */
  color: white; /* Text color */
  text-align: center;
 
}

.welcome {
  margin-top: 5rem;
}

.welcome h1 {
  font-size: 1.9rem; /* Adjust font size */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  margin-top: 0;
  margin-bottom: 10px;
}

.welcome h2 {
  font-size: 2.2rem; /* Adjust font size */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  margin-top: 0;
  margin-bottom: 13px;
}

.toolset {
  margin-top: 10px; /* Adjust this value to control space above the toolset */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the toolset horizontally */
  width: 100%; /* Full width to allow centering */
 
}

