/* components/Hero.module.css */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Full viewport height */
  background-color: #6E6E6E; /* Background color */
  background: linear-gradient(135deg, #6E6E6E, #A1A0A0); /* Example gradient */
  color: white; /* Text color */
  text-align: center;
 
}


@media (min-width: 390px) {
  .hero {
    height: 50vh; /* Full viewport height */
    /* Increase size for tablets */
  }
}

@media (min-width: 768px) {
  .hero {
    height: 60vh; /* Full viewport height */
    /* Increase size for tablets */
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 67vh; /* Full viewport height */
    /* Increase size for desktops */
  }
}

@media (min-width: 1281px) {
  .hero {
    height: 75vh; /* Full viewport height */
    /* Increase size for desktops */
  }
}

.welcome {
  margin-top: 5rem;
}


/* Example CSS for responsive headings */

.welcome h1 {
  font-size: 1.9rem; /* Default font size */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  margin-top: 0;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 255, 0, 0.7); /* Green glow effect */
}

/* Responsive adjustments for h1 */
@media (min-width: 768px) {
  .welcome h1 {
    font-size: 2.5rem; /* Increase font size for tablets */
  }
}

@media (min-width: 1024px) {
  .welcome h1 {
    font-size: 3rem; /* Increase font size for desktops */
  }
}

.myNameIs h2 {
  font-size: 2.2rem; /* Default font size */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 255, 0, 0.7); /* Green glow effect */
}

/* Responsive adjustments for h2 */
@media (min-width: 768px) {
  .myNameIs h2 {
    font-size: 2.8rem; /* Increase font size for tablets */
  }
}

@media (min-width: 1024px) {
  .myNameIs h2 {
    font-size: 3.5rem; /* Increase font size for desktops */
  }
}

.myNameIs h3 {
  font-size: 2.2rem; /* Default font size */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 255, 0, 0.7); /* Green glow effect */
}

/* Responsive adjustments for h3 */
@media (min-width: 768px) {
  .myNameIs h3 {
    font-size: 2.8rem; /* Increase font size for tablets */
  }
}

@media (min-width: 1024px) {
  .myNameIs h3 {
    font-size: 3.5rem; /* Increase font size for desktops */
  }
}



