
.resume {
  margin-top: -5px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px;
  background-color: white;
  height: auto; /* Allow height to adjust based on content */
}

.nav {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  margin-top: 10px;
  margin-bottom: 20px; /* Space below navigation */
}

.navButton {
  display: flex; /* Use flexbox for button layout */
  align-items: center; /* Center items vertically */
  line-height: 2.5; /* Increase line-height to move text down */
  padding: 15px, 15px;
  background-color: white; /* Button color */
  color: #6E6E6E; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin-bottom: 5px; /* Space between buttons */
  font-family: 'Rockwell', serif; /* Use Rockwell font */
  font-weight: bold; /* Make text bold */
  font-size: .8rem;
  align-items: flex-start;
}

.navButton:hover {
  background-color: #6E6E6E; /* Darker button color on hover */
  color: white;
}
.navButton img {
  margin-right: 10px; /* Space between icon and text */
}

.navButton span {

  margin-top: 5px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .navButton {
      font-size: 1rem; /* Increase font size for tablets */
      padding: 20px; /* Increase padding for larger buttons */
  }
}

@media (min-width: 1024px) {
  .navButton {
      font-size: 1.2rem; /* Increase font size for desktops */
      padding: 25px; /* Increase padding for larger buttons */
  }
}


  